@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 61.04px;
}

h2 {
    font-size: 48.03px;
}

h3 {
    font-size: 25.63px;
}

h4 {
    font-size: 22.78px;
}

h5 {
    font-size: 20.25px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 1rem;
}

.smallp {
    font-size: 12.8px;
}




header {
    margin: 10px 5rem 10px 5rem;
    background-color: white;
    color: rgb(34, 30, 30);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headText {
    margin-bottom: 2px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(3, 3, 24, 0.918);
}

header #logo {
    height: 40px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: rgb(12, 12, 12);
    text-decoration: none;
}

/* Buttons and Main Content */
button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
}



section {
    height: 100vh;
}

/* Hero Section Styling */
main {
    position: relative;
    background-size: cover;
    padding: 0px 0px 0px 0px;
    color: #0b0000;
    text-align: center;
}



.hero-sec {
    position: absolute;
    color: rgb(169, 20, 20);
    top: 24%;
    left: 50%;
    transform: translate(-50%, 0);
    /* Center horizontally  24*/
    text-align: center;
    z-index: 1;
}

.btn-hero {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.imageHeroSec {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    overflow: hidden;

}

/* #hero button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #76dcb8;
    color: rgb(8, 7, 7);
    border: none;
    cursor: pointer;
} */


header nav button {
    display: none;
}
#accurates-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    background-image: url('/Images/aboutus.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    position: relative;
    padding: 20px; /* Optional: Add some padding for better spacing */
}

.accurates-sec-1 {
    max-width: 60%;
}

.accurates-text-1 {
    text-align: right;
    font-weight: 900;
    font-size: 70px;
}

.accurates-sec-2 {
    max-width: 40%;
}

.accurates-sec-2 p {
    text-align: left;
}

.centered-image {
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
    background-image: url('/Images/Ab. Accurates AI Marque.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute; /* Keep it absolute to overlay properly */
    top: 78%; /* Adjust as needed to position it lower */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Offset by half its size */
}


.accurates-sec-1,
.accurates-sec-2 {
    z-index: 2;
}

#ppe-detection {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    flex-direction: row;
    gap: 1rem;

}

.ppe-sec-1 {
    margin-left: 8rem;
    text-align: left;
    max-width: 60%;
}

.ppe-sec-1 h2 {
    margin-bottom: 10px;
}

.ppe-sec-1 p {
    text-align: left;
}


#facial-main-sec {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    flex-direction: row;
    gap: 1rem;
}

.facial-sec-1 {
    text-align: left;
    max-width: 60%;
}

.facial-sec-1 {
    margin-right: 10rem;
}

.imageFacialSec {
    max-height: fit-content;
    max-width: 40%;
}





#fleet-management {
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    flex-direction: row;
    position: relative;
}

.fleet-management-sec1 p {
    text-align: left;
}

.fleet-management-sec1 h2 {
    margin-bottom: 10px;
}

.fleet-management-sec1 {
    text-align: left;
    padding-left: 20px;
    margin-left: 8rem;

}

.facial-sec-1 p {
    text-align: left;
}

.facial-sec-1 h2 {
    margin-bottom: 10px;
}

.image-container {
    position: absolute;
    overflow: hidden;
    right: 0;
    z-index: -1;
}

.imagefleet {
    max-width: 100%;
    max-height: 45rem;

}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    /* Adjust width of blurred area */
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    pointer-events: none;
}


#tab-main-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-image: url('/Images/Frame\ 11.png');
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    position: relative;
    background-size: cover;
}

.imageTabSec {
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
    transform: rotate(0deg);
    position: absolute;
    top: -86px;
    right: 69px;
    width: 78%;
}

#product-main-sec {
    position: relative;
    height: 120vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.productSec {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.product-content {
    padding-top: 40px;
}

#product-main-sec h2 {
    margin-top: 1rem;
}

/* Footer Styling */
footer {
    height: 55vh;
    margin-top: 1rem;
    background-color: #006490;
    color: white;
    padding: 5rem;
    gap: 183px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

/* Grid Layout for Footer Sections */
.footer-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

/* Footer Headings */
.footer-sec h6 {
    font-size: 10px;
    color: #87b6cb;
    margin-bottom: 0.5rem;
}

/* Footer Links */
.footer-sec-list {
    list-style: none;
}

.footer-sec-list li {
    padding: 10px;
}

.footer-sec-list li a {
    color: white;
    font-size: 19px;
    text-decoration: none;
}

.last-sec {
    display: flex;
    justify-content: space-between;
    font-size: 8px;
}

.last-sec p {
    font-size: 8px;
}

.footer-end1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-end1 li {
    padding-left: 32px;
    list-style: none;
    font-size: 14px;
    color: #87b6cb;
}

.footer-end2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;

}

.footer-logo {
    margin: auto;
    display: grid;
    height: 100px;
    padding-top: 30px;
}

.footer-end2 i {
    padding-left: 15px;
}

.footer-head {
    font-size: 13px;
    color: #87b6cb;
    padding-bottom: 15px !important;
}

/* Mobile View */
@media (max-width: 768px) {
    h1 {
        font-size: 32.44px;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 28.83px;
        margin: 0;
        padding: 0;
    }

    h3 {
        font-size: 25.63px;
        margin: 0;
        padding: 0;
    }

    h4 {
        font-size: 22.78px;
    }

    h5 {
        font-size: 20.25px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 1rem;
    }

    .smallp {
        font-size: 12.8px;
    }

    /* Adjust Header for Mobile */
    header {
        flex-direction: column;
    }

    header nav {
        display: none;
    }

    header #mobileMenu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
    }

    header #mobileMenu li {
        margin: 10px 0;
    }

    header #mobileMenu.show {
        display: flex;
    }


    /* Mobile-specific styling */
    #hero {
        padding: 20px 0;
    }

    footer {
        padding: 1.5rem;
    }

    .footer-sections {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .footer-sec {
        text-align: center;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 25.44px;
    }

    h2 {
        font-size: 20.83px;
    }

    h3 {
        font-size: 17.63px;
    }

    h4 {
        font-size: 15.78px;
    }

    h5 {
        font-size: 13.25px;
    }

    h6 {
        font-size: 10px;
    }

    p {
        font-size: 12.8px;
    }

    /* Adjust Header for Mobile */
    header {
        flex-direction: column;
    }

    header nav {
        display: none;
    }

    header #mobileMenu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
    }

    header #mobileMenu li {
        margin: 10px 0;
    }

    header #mobileMenu.show {
        display: flex;
    }

    /* Mobile-specific styling */
    #hero {
        padding: 20px 0;
    }

    footer {
        padding: 1rem;
        font-size: 13px;
    }
}

.button-style1 {
    border-radius: 50px;
    background: #006590;
    border: 2px solid #006590;
    color: white;
    font-size: 16px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.button-style1::after {
    content: "\2192";
    margin-left: 8px;
}

.button-style2 {
    border-radius: 50px;
    background: transparent;
    border: 2px solid #006590;
    color: #006590;
    font-size: 16px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 18px;
    padding-bottom: 18px;

}

.button-style3 {
    border-radius: 50px;
    background: #006590;
    border: 2px solid #006590;
    color: white;
    font-size: 16px;
}

.button-style4 {
    border: none;
    background: none;
    color: black;
    font-size: 28px;
}

.button-style4::after {
    content: "\2192";
    /* Right arrow Unicode */
    margin-left: 8px;
}

.button-know-more {
    border-radius: 50px;
    background: #006590;
    border: 2px solid #006590;
    color: white;
    font-size: 16px;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button-know-more::after {
    content: "\2192";
    /* Right arrow Unicode */
    margin-left: 8px;
}

li {
    padding-left: 30px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.logo {
    font-weight: 800;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero-content-p {
    text-align: center;
    color: #33333398;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 25px;
}

.section-content-p {
    text-align: center;
    color: #141414;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 25px;
}

.hero-text-container {
    padding-left: 10rem;
    padding-right: 10rem;
}

#hero {
    position: relative;
}

#hero img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.font-style1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-style2 {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-style3 {
    color: #33333398;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-style: normal;

}

.accurates-content-p {
    color: #33333398;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    line-height: 35px;
    padding-top: 15px;
    padding-left: 10px;
}

.about-text {
    display: flex;
    margin: auto;
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
    justify-content: center;
}

.btn-container {
    position: absolute;
    top: 65%;
    left: 50%;
}

.tab-container {
    position: relative;
}

.product-content h2 {
    margin-bottom: 0px;
}